<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        You enter combat with the creature, unsure of its nature but those claws spell danger should you find yourself slipping. You feel a searing tear in your arm as one connects and pain shoots through your body. Still, its only one enemy right? You can do this. You hear a thud behind you and then another as you are suddenly surrounded by more of these creatures. You have made a fatal error. The exit is blocked and the chances of you leaving this place alive are slim to nil. 
    </p>
    <a href="/">Start Over</a>
</body>
</html>