<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        The gold scatters about, ricocheting off of the walls and your armor as a massive dragon reveals itself to have been sleeping beneath the pile. You know turning to run would be a mistake. Its time to fight. Through coordinated efforts, you manage to bring the dragon down, but at a cost. The mage you brought along was struck down by the dragon's powerful flame breath attack and is on deaths door. The healer tries their best to help, but to no avail. With the mage's final breath, he curses the party, blaming their incompetence for his death before the light leaves his eyes. 
    </p>
    <a href="/end">Victory!</a>
</body>
</html>