<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        You return to the village with heavy hearts, not knowing what the mage's curse might bring. As you approach the hill, you see a plain of ash and decay. Everything you have done was for nothing and the curse upon you is still a mystery. A mighty roar echoes around you and above you see a figure, red scales falling off of their body and clattering to the ground, revealing the bone beneath. A purple flame can be seen inside its chest cavity. The dragon you have slain has become a Dracolich and a new adventure begins. 
    </p>
    <a href="/">Start Over</a>
</body>
</html>