<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Welcome adventurer, you have traveled far and finally come to the mouth of the cave. A sign hangs loosely from a rusted nail, squeaking with each pass of the wind. DANGER it says and you know it to be true. There are signs of beasts dwelling within the cave with claw marks on either side, deep enough to tear through bone. Danger clearly awaits you here, adventurer. Do you go in alone or will you double back to find some more experienced companions to tackle this challenge together?
    </p>
    <a href="/loner">Go it alone</a>
    <a href="/party">Lets go recruit a team</a>

</body>
</html>