<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        You enter the cave alone, ignoring the warning signs. Your torch flickers as you delve deeper into the cave. The walls have grown damp as you further the march within. A screech catches your attention and you whip around to see a creature with glowing green claws staring at you, hunger giving its eyes a dangerous glow. Do you choose to fight or run away?
    </p>
    <a href="/creature">FIGHT!!!</a>
</body>
</html>