<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        You double back to the town and enter a tavern. There you find a group of adventures enjoying a nice pint of ale and laughing about their adventures. They look up at you and immediately shift their attitudes, recognizing a fellow in need. You recruit the group and return to the cave. With you is a healer named Carissa, A Hunter with a longbow named Dialia, a warrior with a sword that may be too large for his proportion named Dave and a Mage with wise eyes and a manic aura around him. Delving deeper into the cave, you find a lone creature with glowing claws and hunger in its eyes. Do you choose to fight?
    </p>
    <a href="/teamwork">TEAMWORK MAKES THE DREAM WORK</a>
</body>
</html>