<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Your party easily dispatches the creature but are swarmed by more in an instant. However, you and your party are well coordinated and manage to survive with the help of the mage's protection spells. You delve deeper into the cave and eventually reach a large room with gold and treasure spread about. Gold clatters to the rock floor and rolls to your feet. Pick it up?
    </p>
    <a href="/dragon">SURPRISE!!!</a>
</body>
</html>