<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ bootstrap.load_css()}}
</head>

<body>
    <div class="container text-center">

        <form action="/process" method="POST">
            <input type="hidden" name="which_form" value="create">
            <select name="customer_id">
                {% for customer in customer_list %}
                <option value="{{customer.id}}">{{customer.name}}</option>
                {% endfor %}
            </select>
            <div>
                <label for="">Pizza Type</label>
                <input type="text" name="pizza_type">
            </div>
            <div>
                <label for="">Pizza Crust</label>
                <input type="text" name="pizza_crust">
            </div>
            <div>
                <label for="">Pizza Size</label>
                <input type="text" name="pizza_size">
            </div>
            <div>
                <label for="">Pizza Sauce</label>
                <input type="text" name="pizza_sauce">
            </div>
            <div>
                <label for="">Toppings</label>
                <input type="text" name="amount_of_toppings">
            </div>
            <button class="btn btn-dark">Submit</button>
        </form>

        <table class="table table-dark">
            <h1>My pizzas</h1>
            <tr>
                <th>Name</th>
                <th>Crust</th>
                <th>Size</th>
                <th>Sauce</th>
                <th>Number of Toppings</th>
                <th>Actions</th>
            </tr>
            {% for pizza in pizzas: %}
            {{ pizza.pizza_type }}
            <tr>
                <td>{{pizza.pizza_crust}}</td>
                <td>{{pizza.pizza_size}}</td>
                <td>{{pizza.pizza_sauce}}</td>
                <td>{{pizza.amount_of_toppings}}</td>
                <td>{{pizza.pizza_type}}</td>
                <td>
                    <a href="pizzas/delete/{{pizza.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>