<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
</head>
<style>
    div.blah {
        background-color: {{color}};
    }
</style>
<body>
    <div class="container">

        <h1>Hello World</h1>
        <h2>{{num}}</h2>
        {% for i in range(num): %}
            {% if i % 3 == 0 and i % 5 == 0: %}
                <h2>Fizzbuzz</h2>
            {% elif i % 3 == 0: %}
                <h2>Fizz</h2>
            {% elif i % 5 == 0: %}
                <h2>Buzz</h2>
            {% else: %}
                <h2>{{i}}</h2>
            {% endif %}
        {% endfor %}
        <img src="{{url_for('static',filename='pikachu.png')}}" alt="pikachu on a pokeball">
        <ol>
            {% if print_this == True %}
                {% for i in range(10): %}
                <li>{{monkey}}</li>
                {% endfor %}
            {% else %}
                {% for user in users_list: %}
                    <h3class"{}">{{user}}</h3class>
                {% endfor %}
            {% endif %}
        </ol>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>